---
{
"title": "Sort",
"language": "en",
"category": "Plugins",
"description": "Sorts a list of items",
"tag": "sort",
"parentdir": "sort",
"altLangPrefix": "sort",
"dateModified": "2023-03-10"
}
---

<div class="alert alert-warning">
	<h2>Unstable feature</h2>
	<p>To be used at <strong>your own risk</strong>. This feature described below can be removed in any subsequent
		minor/major release</p>
	<p><small><a href="https://wet-boew.github.io/wet-boew-documentation/decision/7.html">Learn more about the design
				decision around provisional features.</a></small></p>
	<p><small><a href="../../../docs/ref/provisional-en.html">Check other provisional features available.</a></small>
	</p>
</div>

<span class="wb-prettify all-pre"></span>

<h2>On this page:</h2>
<ul>
	<li><a href="#sortedEventsList">Example 1 - Events list</a></li>
	<li><a href="#filteredAppsList">Example 2 - Applications list</a></li>
	<li><a href="#filteredFAQ">Example 3 - FAQ leveraging Filter plugin</a></li>
</ul>

<section id="sortedEventsList">
	<h2>Example 1 - Events list</h2>
	<ul class="list-unstyled wb-sort provisional">
		<li data-wb-tags="language__english language__french location__online dayOTW_friday">
			<h3 class="h4"><a href="#" rel="external">Ask PAC Anything!</a></h3>
			<p class="mrgn-bttm-sm">Friday August 5th, 2022 | 12:00 PM to 1:00 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Online</span><strong>Language</strong>: English, French</p>
		</li>
		<li data-wb-tags="language__english location__vancouver dayOTW_wednesday">
			<h3 class="h4"><a href="#" rel="external">Bidding on Opportunities</a></h3>
			<p class="mrgn-bttm-sm">Wednesday August 10th, 2022 | 2:00 PM to 3:30 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Vancouver</span><strong>Language</strong>: English</p>
		</li>
		<li data-wb-tags="language__english location__ottawa dayOTW_thursday">
			<h3 class="h4"><a href="#" rel="external">Doing business with the Government of Canada (Webinar)</a></h3>
			<p class="mrgn-bttm-sm">Thursday August 11th, 2022 | 12:00 PM to 2:00 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Ottawa</span><strong>Language</strong>: English</p>
		</li>
		<li data-wb-tags="language__english location__online dayOTW_friday">
			<h3 class="h4"><a href="#" rel="external">Ask PAC Anything!</a></h3>
			<p class="mrgn-bttm-sm">Friday August 12th, 2022 | 12:00 PM to 1:00 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Online</span><strong>Language</strong>: English</p>
		</li>
		<li data-wb-tags="language__english location__ottawa dayOTW_thursday">
			<h3 class="h4"><a href="#" rel="external">Bidding on opportunities (Webinar)</a></h3>
			<p class="mrgn-bttm-sm">Thursday August 18th, 2022 | 12:00 PM to 2:00 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Ottawa</span><strong>Language</strong>: English</p>
		</li>
		<li data-wb-tags="language__english location__online dayOTW_friday">
			<h3 class="h4"><a href="#" rel="external">Ask PAC Anything!</a></h3>
			<p class="mrgn-bttm-sm">Friday August 19th, 2022 | 12:00 PM to 1:00 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Online</span><strong>Language</strong>: English</p>
		</li>
		<li data-wb-tags="language__french location__ottawa dayOTW_thursday">
			<h3 class="h4"><a href="#" rel="external">Workshop to register in the Supplier Registration Information (SRI) system and in the Indigenous Business Directory (IBD) for Indigenous-led businesses</a></h3>
			<p class="mrgn-bttm-sm">Thursday August 25th, 2022 | 9:30 AM to 11:00 AM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Ottawa</span><strong>Language</strong>: French</p>
		</li>
		<li data-wb-tags="language__english location__ottawa location__montreal dayOTW_thursday">
			<h3 class="h4"><a href="#" rel="external">Workshop to register in the Supplier Registration Information (SRI) system and in the Indigenous Business Directory (IBD) for Indigenous-led businesses</a></h3>
			<p class="mrgn-bttm-sm">Thursday August 25th, 2022 | 1:00 PM to 2:30 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Ottawa and Montreal</span><strong>Language</strong>: English</p>
		</li>
		<li data-wb-tags="language__french location__montreal dayOTW_thursday">
			<h3 class="h4"><a href="#" rel="external">Doing Business with the Government of Canada</a></h3>
			<p class="mrgn-bttm-sm">Thursday August 25th, 2022 | 1:30 PM to 3:00 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Montreal</span><strong>Language</strong>: French</p>
		</li>
		<li data-wb-tags="language__english location__vancouver dayOTW_thursday">
			<h3 class="h4"><a href="#" rel="external">Doing Business with the Government of Canada</a></h3>
			<p class="mrgn-bttm-sm">Thursday August 25th, 2022 | 2:00 PM to 3:30 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Vancouver</span><strong>Language</strong>: English</p>
		</li>
		<li data-wb-tags="language__english location__online dayOTW_friday">
			<h3 class="h4"><a href="#" rel="external">Ask PAC Anything!</a></h3>
			<p class="mrgn-bttm-sm">Friday August 26th, 2022 | 12:00 PM to 1:30 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Online</span><strong>Language</strong>: English</p>
		</li>
		<li data-wb-tags="language__english location__toronto dayOTW_tuesday">
			<h3 class="h4"><a href="#" rel="external">Mythbusting Federal Government Procurement and Overview of Innovation for Defence, Excellence and Security (IDEaS)</a> </h3>
			<p class="mrgn-bttm-sm">Tuesday August 30th, 2022 | 10:00 AM to 11:00 AM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Toronto</span><strong>Language</strong>: English</p>
		</li>
		<li data-wb-tags="language__french location__montreal dayOTW_tuesday">
			<h3 class="h4"><a href="#" rel="external">Register as supplier and find opportunities on BuyAndSell.gc.ca</a></h3>
			<p class="mrgn-bttm-sm">Tuesday August 30th, 2022 | 1:30 PM to 3:00 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Montreal</span><strong>Language</strong>: French</p>
		</li>
		<li data-wb-tags="language__english location__toronto dayOTW_wednesday">
			<h3 class="h4"><a href="#" rel="external">Federal Procurement Virtual Drop-in Café</a></h3>
			<p class="mrgn-bttm-sm">Wednesday August 31th, 2022 | 3:00 PM to 4:00 PM</p>
			<p><span class="mrgn-rght-lg"><strong>Location:</strong> Toronto</span><strong>Language</strong>: English</p>
		</li>
	</ul>
</section>
